body {
	background-color: #ffffff;
	margin: 0;
	cursor: move;
	overflow: hidden;
	font-family: helvetica, arial, sans-serif;
}
.menu {
    cursor: pointer;
}
.pic {
    width: 180px;
    height: 240px;
}
.hidden {
	display: none;
}
.visible {
	display: block;
}
.head {
	height: 45px;
}
.head a {
	display: inline-block;
	float: left;
	width: 10%;
	padding: 10px 0 0 10px;
	text-decoration: none;
}
.head h2 {
	display: inline-block;
	width: 70%;
	margin: 0;
	padding: 7px 10px 0 0 ;
	float: right;
	text-align: right;
}
p {
	padding:  5px 10px;
}
#info3.panel{ 
	background-color: #d1b3ce ; 
}
#info3 .head{ 
	color: #eed8ec;
	background: #714c6e;
}
#info3 p{ 
	color: #584356; 
}
#info4.panel{
	background-color: #f5c5a7 ;
}
info4 .head{
	color: #f5c5a7;
	background: #b65212;
}
info4 .head a{
	color: #f5c5a7;
}
info4 p{
	color: #b65212;
}